doctype html


html(lang='en')
	head
		meta(name='viewport' content='width=device-width, initial-scale=1.0, min-scale=1.0')
		title Command Center

	body
		div#top
			div#app

		footer
			span Command Center v0.0.1-alpha

		script(src='../index.js')
