doctype html


html(lang='en')
	head
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='/style/intro.css')
		title Welcome to Command Center

	body
		div#intro-container.container-md.mx-auto
			div
				object#onboard-1-helicopter(data='/img/010-helicopter.svg')
				h2 Helicopter!
				p wow so propeller, much blade
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias culpa dolores earum esse, facere hic iste laboriosam natus nesciunt, reiciendis suscipit totam vel! Accusantium, ad earum mollitia officia sint vero.

			div
				span Back
				span Next
