doctype html


html(lang='en')
	head
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='/style/intro.css')
		title Welcome to Command Center

	body
		div.d-flex.flex-column.justify-content-between.container-sm.mx-auto.vh-100
			div.cover-container
				img.cover(src='/img/app-onboarding-1.jpg')
				div.mx-3
					h2.title Welcome
					p.message Flying just about anything just got more exciting, easy and fun, regardless of your piloting skills!

			div#nav-container.nav-panel.d-flex.justify-content-between.m-4
				span.button.button-prev Back
				div#page-selector-container
				span.button.button-next Next
