doctype html


html(lang='en')
	head
		meta(name='viewport' content='width=device-width, initial-scale=1.0, min-scale=1.0')
		link(rel='stylesheet' href='/style/intro.css')
		title Welcome to Command Center

	body
		div#top
			div#splash
				img#onboard-1-helicopter(src='/img/010-helicopter.svg')
				h2 Helicopter!
				p wow so propeller, much blade

		div#nav
			span Back
			span Next
