color-red = #f06070
color-orange = #e78e09
color-yellow = #e0dd24
color-green = #50f0b0
color-blue = #2c61c4

color-black = #000
color-gray = #555
color-light-gray = #eee
color-background = #fcfeff
color-white = #fff
