@require "colors.styl"


html
	font-family sans-serif
	scroll-behavior smooth

	a
		color inherit
		text-decoration none

	.hidden
		display none

	.bold
		font-weight bold


	body
		display flex
		flex-flow column nowrap
		justify-content space-between
		height 100vh
		margin 0
		background-color color-background

		#title-bar
			display flex
			flex-flow row wrap
			justify-content space-between
			align-items center
			background-color color-gray
			color color-white
			padding .5em 1em
			margin-bottom 1em

		footer
			display flex
			flex-flow row wrap
			justify-content space-between
			background-color color-light-gray
			color color-gray
			padding .5em 2em
