@require '../../src/style/stylify.styl'
@require '../../src/style/colors.styl'


html
	scroll-behavior smooth
	font-family Arial, sans-serif

	body
		display flex
		flex-flow column nowrap
		justify-content space-between
		margin 0
		overflow hidden
		color #4970FF
		font-size 2.5vh

		#cover-container
			.cover
				display block
				width auto
				margin 0 auto
				max-height 70vh
				max-width 100%
				margin-bottom -7vh
				transition transform .2s ease-in,
				opacity .2s ease-in

		#text-container
			transition opacity .1s ease-in
			line-height @font-size * 2

			#title
				text-align center
				font-size 5vh
				font-weight 900
				text-shadow 0 5px 10px #0001

			#message
				display inline-block
				text-align center
				white-space pre-wrap

		#nav-container
			display flex
			flex-flow row nowrap
			justify-content space-between

			.button
				border-radius 5vh
				border solid 2px @color
				padding 3px 2ch
				cursor pointer
				box-shadow 0 5px 10px #0001

				&#button-next
					background-color @color
					color white
