@require '../../src/style/colors.styl'


html
	scroll-behavior smooth
	font-family Arial, sans-serif

	body
		display flex
		flex-flow column nowrap
		justify-content space-between

		#onboard-1-helicopter
			max-height 15vh
			max-width 20vw
