@require '../../src/style/stylify.styl'
@require '../../src/style/colors.styl'


html
	scroll-behavior smooth
	font-family Arial, sans-serif

	body
		display flex
		flex-flow column nowrap
		justify-content space-between
		margin 0

		#intro-container
			background linear-gradient(to bottom right, #1ad2fe 0%, #13ebc4 100%)
			padding 1em
			min-height 100vh
			color white
			font-weight bold
			border-radius 10px

			#helicopter-bg
				border-radius 500px
				background-color #cbdbec

				#onboard-1-helicopter
					max-height 15vh
					max-width 40vw
					animation helicopter 10s ease-in-out infinite

					@keyframes helicopter
						from
							transform translate(0, 0)

						25%
							transform translate(5%, -5%)

						50%
							transform translate(8%, 3%)

						75%
							transform translate(-5%, -8%)
